* {
    font-family: 'Montserrat', sans-serif;
    
}

/* NAVBAR */
.navbar{
    background: linear-gradient(90.53deg, rgba(0, 0, 0, 0.75) 0.45%, rgba(102, 80, 165, 0.75) 105.51%);
   /* background: linear-gradient(50.53deg, #1a1a1a 0.45%, rgba(193, 193, 197, 0.75) 80.51%,);  */
    /* background: linear-gradient(90.53deg, rgba(0, 0, 0, 0.75) 0.45%, rgba(119, 119, 119, 0.75) 105.51%);   */
    /* background-color: #1a1a1a; */
    /* background: #343434; */
}

a.navbar-brand, .navbar-brand > span {
    font-family: "Griffy";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
}


.nav-item a:hover{
    color: #4c5870;
    /* color: #FFC907; */
}

.form-control, me-5{
    height: 5vh;
    margin-top: 4.5%;
    
}
.profile{
    margin-top: 10px;
    color: #FFC907;
}
.profile img {
    width: 45px;
 
}


/* UNTUK CAROUSEL */
.highlight-1{
    height:90vh;
    position: relative;
    background-image: url(    https://cdn.mos.cms.futurecdn.net/dEKSDf7UxuAD5iuUePzLMJ.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.highlight-2{
    height: 90vh;
    position: relative;
    background-image: url(https://images5.alphacoders.com/116/1163146.jpg);
     background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.highlight-3{
    height: 90vh;
    position: relative;
    background-image: url(https://wallpapers.com/images/featured/segtwbhffwy01w82.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-judul {
   padding: 30% 0 0 6%;
    
}

.container-judul h1{
    color: #FFAC42;
    /* color: #FFC907; */
    letter-spacing: 5px;
}
.container-judul p {
    color: white;
}


/* Untuk cards */
.fullcover{
    /* background: linear-gradient(90.53deg, rgba(0, 0, 0, 0.75) 0.45%, rgba(102, 80, 165, 0.75) 105.51%);  */
    background: linear-gradient(90.53deg, rgba(0, 0, 0, 0.75) 0.45%, rgba(119, 119, 119, 0.75) 105.51%);  
    /* background-color: #1a1a1a; */
    /* background: linear-gradient(90.53deg, rgba(0, 0, 0, 0.75) 0.45%, rgba(193, 193, 197, 0.75) 105.51%);  */
    background-color: #152951;
    padding-top: 30px;
}
.card img{
    border-radius: 5%;
}

.list{
    padding-left: 5px;
    margin-left: 5%;
    color: #FFAC42;
    border: 3px solid #FF1F57;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.card-title{
    color: #FFAC42;
    text-align: center;
    /* color: #FFC907; */
}
.card:hover{
    text-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 2;
    
} 

.fullfeedback{
    background: linear-gradient(90.53deg, rgba(0, 0, 0, 0.75) 0.45%, rgba(119, 119, 119, 0.75) 105.51%);  
    /* background:linear-gradient(90.53deg, rgba(0, 0, 0, 0.75) 0.45%, rgba(102, 80, 165, 0.75) 105.51%);   */
}
.formsubs {
    padding-left: 5px;
    margin: 20px 0 0 5%;
    color: #FFAC42;
    border: 3px solid #e7580577;
    border-right: none;
    border-top: none;
    border-bottom: none;

}

.feedback{
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
    background: #1a1a1a;
    
}

     /*------------- MODAL---------------*/
    .modal-content{
        background: linear-gradient(90.53deg, rgba(0, 0, 0, 0.75) 0.45%, rgba(119, 119, 119, 0.75) 105.51%);  
        background-color: grey;
    }

     .modal-header{
         display:flex;
         flex-direction: column;
     }
     .modal-header .modal-title{
         margin-left: auto;
         margin-right: auto;
         color: black;
         font-weight: bold;
     }

     .modal-header .rating {
         display: flex;
         margin-top: 10px;
        
     }
     .modal-header .rating p {
        margin-left: 5px;
        margin-top: -2px;
        font-weight: bold;
        color: black;
     }
    .kontainer .foto img{
        margin-top: 10px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        
    }

    .kontainer .judul{
        font-weight: bold;
        text-align: center;
        color: black;
    }
    .kontainer .genre{
        display: flex;
        padding: 20px;
        justify-content: space-around;
        

    }
    .kontainer .genre p{
        color: black;
    }
    .kontainer .genre .satu{
        border: 3px solid black;
        border-radius: 5px;
        padding: 2px;
    }
    .kontainer .genre .dua{
        border: 3px solid black;
        border-radius: 5px;
        padding: 2px;
    }
    .kontainer .genre .tiga{
        border: 3px solid black;
        border-radius: 5px;
        padding: 2px;
    }
  
    .kontainer .plot {
        text-align: left;
        color: #FFAC42;;
        
    }
    .kontainer button {
        display: flex;
      margin-left: auto;
      margin-right: auto;
    }

    .btn-close{
        position: relative;
    margin-left: 450px;
    margin-top: 10px;
    }
    /*------------- MODAL END---------------*/

/* media query */
@media screen and (max-width: 1400px){
    .container-judul {
        padding: 35% 0 0 6%;
         
     }
}

@media screen and (max-width: 1200px){
    .container-judul {
        padding: 40% 0 0 6%;
         
     }

     .card-title{
        font-size: 17px;
    }
}



@media screen and (max-width: 992px){
    .nav-link.active{
        margin-top: 3vh;
    }
    .nav-item  a{
        color: aliceblue;
    }
    .profile{
        display: none;
    
    }
    .form-control{
        margin-top: 0;
      
    }
    .container-judul {
        padding: 50% 0 0 6%;
         
     }
     .highlight-1{
        background-position: right;
     }
}

@media screen and (max-width: 768px){
    .container-judul {
        padding: 70% 0 0 6%;
         
     }
     .highlight-2{
        height: 90vh;
        position: relative;
        background-image: url(https://images5.alphacoders.com/116/1163146.jpg);
        background-position:right;
        background-size: cover;
        background-repeat: no-repeat;
    }
  
}

@media screen and (max-width: 576px){
    .container-judul {
        padding: 85% 0 0 6%;
    
         
     }
     .card-title{
         font-size: 15px;
     }
     video{
         width:410px;
         margin-left: auto;
         margin-right: auto;
        
         display: flex;
     }
}

@media screen and (max-width: 450px){
    .container-judul h1 {
        padding: 30% 0 0 0;
        font-size: 25px;    
        text-align: left;
         
     }

     video{
        width:320px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }

     .container-judul p {
        font-size: 15px;    
         
     }
     .card-title{
         font-size: 12px;
     }
}